@font-face {
  font-family: AeonikLight;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: AeonikRegular;
  src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: AeonikBold;
  src: url(./AeonikTRIAL-Bold.otf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pri: #f8f4e1;
  --sec: #4e1f00;
  --tri1: #feba17;
  --tri2: #74512d;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: var(--sec);
}

#main {
  width: 100%;
  height: 100%;
}
