@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0.8rem 1.6rem;
  background: #2a7b9b;
  background: linear-gradient(129deg, #2a7b9b 0%, #57c785 90%);
  background-repeat: no-repeat;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: 1000px;
  margin-inline: auto;
  background-color: #fff;
  padding: 3.2rem 1.6rem 2.4rem 1.6rem;
  border-radius: 12px;
  box-shadow: 0px 2px 12px #0000002f;
}
.container__title {
  font-size: 2.8rem;
  letter-spacing: 0.4px;
  text-align: center;
  line-height: 1;
  margin-bottom: 3.2rem;
}
.container__app {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "dashboard dashboard"
    "record controls"
    "record controls";
  gap: 1.2rem;
}
.dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: dashboard;
  background: #2a9b4e;
  background: linear-gradient(
    129deg,
    rgba(42, 155, 78, 1) 0%,
    rgba(62, 161, 80, 1) 0%,
    rgba(81, 166, 81, 1) 0%,
    rgba(113, 176, 83, 1) 4%,
    rgba(135, 183, 84, 1) 58%,
    rgba(186, 199, 87, 1) 90%
  );
  border-radius: 10px;
  padding: 2.4rem 1rem;
}
.dashboard__title {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.dashboard__balance-value {
  font-size: 4.2rem;
  font-weight: 400;
  margin-bottom: 2.2rem;
}
.dashboard__cards {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.2rem;
}
.card__title {
  font-size: 1.6rem;
}
.card__value {
  font-size: 2.4rem;
}
.record {
  display: flex;
  flex-direction: column;
  grid-area: record;
  padding: 1.2rem;
}
.record__transactions {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.8rem 4.2rem 1.8rem 1.8rem;
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: #fff;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.258);
  list-style-type: none;
}

.controls {
  display: flex;
  flex-direction: column;
  grid-area: controls;
  background-color: hsl(203, 100%, 97%);
  padding: 1.2rem;
}

.record__title,
.controls__title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.controls__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls__form label {
  font-size: 1.4rem;
}

.controls__form input {
  padding: 0.8rem 1.6rem;
  border: 1px solid gray;
  outline: none;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
}
.form__submit {
  width: 100%;
  background-color: #2a9b4e;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 1rem 1.6rem;
  margin-top: 16rem;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.form__submit:hover {
  opacity: 70%;
}
.form__submit:active {
  opacity: 100%;
}

@media (max-width: 550px) {
  .container__app {
    grid-template-areas:
      "dashboard dashboard"
      "controls controls"
      "controls controls"
      "record record"
      "record record";
  }
}
